@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

*{
    font-family:  "Inter", sans-serif;
}

.custom-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25); 
  border-radius: 9999px;
}

.custom-scroll {
  scrollbar-color: rgba(255,255,255,0.25) transparent;
  scrollbar-width: thin;
}


.custom-scroll-dark::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll-dark::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll-dark::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35); 
  border-radius: 9999px;
}

.custom-scroll-dark {
  scrollbar-color: rgba(0,0,0,0.35) transparent;
  scrollbar-width: thin;
}
